# Use this for local dev
DATABASE_URL=postgres://gongfa:gongfa@localhost:5432/gongfa
JWT_SECRET=please-change
PORT=8080

SMS_TENCENT_SECRET_ID=
SMS_TENCENT_SECRET_KEY=
SMS_TENCENT_APP_ID=
SMS_TENCENT_SIGN=
SMS_TENCENT_TEMPLATE_ID=
